streamlit
requests
feedparser
pandas
numpy
matplotlib
prophet
scikit-learn
joblib
huggingface-hub>=0.23
transformers==4.41.2
torch

# optional features your app uses
sentence-transformers
faiss-cpu
shap

# only for your LSTM; pinned to avoid Keras 3
tensorflow==2.15.0
tf-keras==2.15.0
