streamlit
feedparser
prophet
tensorflow==2.20.0
tf-keras
sentence-transformers
faiss-cpu  # Use faiss-gpu if you're using a GPU
shap
pandas
numpy
matplotlib
openai==0.28
transformers
plotly
scikit-learn
requests
torch
google-cloud-ai
google-auth
google-auth-oauthlib
google-auth-httplib2
google-generativeai
